@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color:#F9F9F9;
  --secondary-color:#001E36;
  --primary-white:#fff;
  --primary-color-two:#10101A;
  --secondary-black:#000000;
  --color-heading:#FF4D88;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container{
    max-width:1440px !important;
    margin-inline:auto;
}
.bg-secondary{
  background-color: var(--secondary-color);
}
.bg-primary{
  background-color: var(--primary-color);
}
.bg-primary-two{
  background-color: var(--primary-color-two);
}
.bg-secondary-black{
  background-color: var(--secondary-black);
}
.color-white{
  color:var(--primary-white)
}
.color-primary{
  color: var(--primary-color);
}
.color-secondary{
  color: var(--secondary-color);
}
.color-primary-two{
  color: var(--primary-color-two);
}
.color-black{
  color: var(--secondary-black);
}
.color-heading{
  color: var(--color-heading);
}