@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color:#31A8FF;
  --secondary-color:#001E36;
  --primary-white:#fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.container{
    max-width:1440px !important;
    margin-inline:auto;
}
.bg-primary{
  background-color: var(--secondary-color);
}
.color-white{
  color:var(--primary-white)
}