.navbar ul li a span svg{
    width:20px;
    height:20px;
}
@media screen and (max-width:768px){
    .navbar{
        background-color: #DF283A;
    }
}
.active{
    background-color: #DF283A;
    color: white;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}